<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Fuzzytoad Othello</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="../../../static/othello/scripts.js"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static "othello/board_client.css" %}">
    </head>
    <body>

		<div class="container-fluid">
			<div class="well">
				<div class="row">
					<div class="col-xs-8">
						<h1>Othello</h1>
						Show valid moves
						<br>
						<label class="switch">
						  	<input type="checkbox" onchange="toggleValidMoves(this);" id="myCheckbox">
						  	<span class="slider round"></span>
						</label>
					</div>
					<div class="col-xs-4">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                  Login/Register
                                                  </button>
                                                <p id="username-p"></p>
					</div>
				</div>
			</div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Login/Register</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p> Username:</p>
                                <input id="login_username" class="form-control" type="text" placeholder="Username" required="">
                                <br>
                                <p> Password:</p>
                                <input id="login_password" class="form-control" type="password" placeholder="Password" required="">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal" id="reg-button">Register</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="login-button">Login</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
				<div class="col-xs-7">
					<div id="board">
					</div>
					<div class="alert alert-info" role="alert" hidden>
						<div class="row">
							<div class="col-xs-9">
								<p id="winnerText"></p>
							</div>
							<div class="col-xs-3">
								<button type="button" class="btn btn-default" id="playAgain">Play Again</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-5">
					<div class="well">
                        <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                            <li>
                                <a href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">Process One<span class="caret arrow"></span></a>
                                <ul class="nav nav-stacked collapse left-submenu" id="item1">
                                    <li><div id="turn"></div></li>
                                </ul>
                            </li>
                        <li>
                        <a href="#" data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">Process Two</span></a>
                        <ul class="nav nav-pills nav-stacked collapse" id="item2">
                            <li><a href="#">View One</a></li>
                            <li><a href="#">View Two</a></li>
                            <li><a href="#">View Three</a></li>
                        </ul>
                        </li>
                        <li><a href="#">Process Three</a></li>
                        <li><a href="#">Process Four</a></li>
                        </ul></a></li></a></li></a></li></a></li></a></li></ul></span></a></li></a></li></a></li></ul></span></a></li></ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
					    <li><a data-toggle="tab" href="#game">Game Stats</a></li>
					    <li><a data-toggle="tab" href="#user">User Stats</a></li>
					    <li class="active"><a data-toggle="tab" href="#global">Global Stats</a></li>
					</ul>
					<div class="tab-content">
				  	<div id="game" class="tab-pane fade">
					    	<h3>Game-specific stats and graphs will be here</h3>
						<span><strong>Score - Human: </strong></span>
						<span id="hScore"></span>
						<br>
						<span><strong>Score - AI: </strong></span>
						<span id="aiScore"></span>
						<br>
						<br>
				  	</div>
				  	<div id="user" class="tab-pane fade">
				  		<h3>User-specific stats and graphs will be here</h3>
				  	</div>
				  	<div id="global" class="tab-pane fade in active">
				  		<h3>Global stats and graphs will be here</h3>
				  		<span><strong>Number of Games Played: </strong></span>
				  		<span id="nGames"></span>
				  		<br>
				  		<span><strong>Number of Entries in Database: </strong></span>
				  		<span id="nEntries"></span>
				  		<br>
				  		<span><strong>Query Speed (with an index): </strong></span>
				  		<span id="querySpeedIdx"></span>
				  		<br>
				  		<span><strong>Query Speed (without an index): </strong></span>
				  		<span id="querySpeedNoIdx"></span>
						<br>
						<br>
				  	</div>
				</div>
			</div>
			</div>
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                {% load static %}
                <script src="{% static "othello/board_client_interval.js" %}" type="text/javascript"></script>
	</body>
</html>
