<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Fuzzytoad Othello</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<style>
			table td {
				border:4px solid black;
				width:65px;
				height:65px;
			}
			table td.seagreen {
				background-color: DarkSeaGreen;
			}
			table td.green {
				background-color: green;
			}

			.whiteCircle, .blackCircle {
				width:100%;
				height:100%;
			    border-radius:25px;
			}

			.whiteCircle {
				border:4px solid black;
			    background: white;
			}

			.blackCircle {
				border:4px solid black;
			    background: black;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="well">
				<div class="row">
					<div class="col-xs-8">
						<h1>Othello</h1>
					</div>
					<div class="col-xs-4">
						<button class="btn btn-primary">Log In</button>
						<p>Welcome, Guest</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div id="board">
					</div>
				</div>
				<div class="col-xs-4">
					<div class="well" style="height:450px;">
						<p>Move-specific stats here</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="well">
					<ul class="nav nav-tabs">
					    <li class="active"><a data-toggle="tab" href="#game">Game Stats</a></li>
					    <li><a data-toggle="tab" href="#user">User Stats</a></li>
					    <li><a data-toggle="tab" href="#global">Global Stats</a></li>
					</ul>
					<div class="tab-content">
				  	<div id="game" class="tab-pane fade in active">
				    	<h3>Game-specific stats and graphs will be here</h3>
				  	</div>
				  	<div id="user" class="tab-pane fade">
				  		<h3>User-specific stats and graphs will be here</h3>
				  	</div>
				  	<div id="global" class="tab-pane fade">
				  		<h3>Global stats and graphs will be here</h3>
				  	</div>
			</div>
				</div>
				</div>
			</div>
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script>

			var updateURL = "http://group02.dhcp.nd.edu:8080/othello/update";

			createBoard();

			function createBoard()
			{
			    var gamestate = "";

			    var table = document.createElement("table");
			    for (let i = 0; i < 8; i++) {
			        var tr = document.createElement("tr");
			        for (let j = 0; j < 8; j++) {
			            var td = document.createElement("td");
			            td.id = i.toString() + ":" + j.toString();  // this is how to identify a cell --> row:column

			            // assign white and black
			            if (i%2 == j%2) {
			                td.className = "seagreen";
			            } else {
			                td.className = "green";
			            }

			            if ((i == 3 && j == 3) || (i == 4 && j == 4))
			            {
			                var circle = document.createElement("div");
			                circle.className = "blackCircle";

			                td.appendChild(circle);

			                gamestate += "B";
			            }
			            else if ((i == 3 && j == 4) || (i == 4 && j == 3))
			            {
			                var circle = document.createElement("div");
			                circle.className = "whiteCircle";

			                td.appendChild(circle);

			                gamestate += "W";
			            }
			            else
			            {
			                gamestate += "G";
			            }

			            td.onclick = function () {

			                //alert("Row: " + i.toString() + "\nColumn: " + j.toString());

			                //alert(gamestate);

			                // POST
			                var xhttp_post = new XMLHttpRequest();

			                xhttp_post.onreadystatechange = function() {
			                    if (this.readyState == 4 && this.status == 200)
			                    {
			                        console.log(this.responseText);
			                        let new_gamestate = JSON.parse(this.responseText).gamestate;

			                        updateGameState(new_gamestate);

			                        setTimeout(function() {
			                        	// GET
				                        var xhttp_get = new XMLHttpRequest();

				                        xhttp_get.onreadystatechange = function() {
				                            if (this.readyState == 4 && this.status == 200)
				                            {
				                                let new_gamestate = JSON.parse(this.responseText).gamestate;
				                                updateGameState(new_gamestate);
				                            }
				                        };

				                        xhttp_get.open("GET", updateURL, true);
				                        xhttp_get.send();
			                        }, 2000);
			                    }
			                };

			                var formData = new FormData();
			                formData.append("row", i);
			                formData.append("column", j);

			                xhttp_post.open("POST", updateURL, true);
			                xhttp_post.send(formData);

			            };
			            tr.appendChild(td);
			        }
			        table.appendChild(tr);
			    }
			    $("#board").html(table);
			}


			function updateGameState(gamestring)
			{
			    //console.log("updating gamestring");
                            
                            let row;
			    let column;

			    for (let i = 0; i < gamestring.length; i++)
			    {
                    row = Math.floor(i/8);
			        column = i%8;

			        let gamechar = gamestring[i];
			        let gamecell = document.getElementById(row.toString() + ":" + column.toString());

			        let circle = document.createElement("div");

			        if (gamechar == "O")
			        {
			            circle.className = "whiteCircle";
			        }
			        else if (gamechar == "X")
			        {
			            circle.className = "blackCircle";        
			        }

			        if(gamecell.hasChildNodes()) {
                        gamecell.removeChild(gamecell.lastChild);
                    }
                    gamecell.appendChild(circle);
			    }
			}

		</script>
                {% load static %}
                {% block scripts %}
                <script src="{% static "othello/board_client.js" %}" type="text/javascript"></script>
                <script src="/static/othello/board_client.js" type="text/javascript"></script>
                {% endblock %}
	</body>
</html>
